.harvest {
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__title {
    position: absolute;
    width: 290px;
    top: -40px;
    left: 0;
    right: 0;
  }
  &__image {
    width: 335px;
    height: 476px;
    border-radius: 20px;
    background-image: url(../images/melon.jpg);
    &--left {
      @media screen and (min-width: 768px) {
        width: 344px;
        height: 480px;
        background-image: url(../images/melon@2.jpg);
      }
      @media screen and (min-width: 1280px) {
        width: 792px;
        height: 502px;
        background-image: url(../images/melon@3.jpg);
      }
    }
    &--right {
      display: none;
      background-image: url(../images/berries.jpg);
      @media screen and (min-width: 768px) {
        display: inline;
        width: 344px;
        height: 480px;
      }
      @media screen and (min-width: 1280px) {
        width: 400px;
        height: 502px;
        background-image: url(../images/berries@2.jpg);
      }
    }
  }
}
