.order {
  display: flex;
  flex-direction: column;
  gap: 44px;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 44px;
  }
  &__description {
    width: 335px;
  }
  &__gif {
    width: 335px;
    height: 476px;
    border-radius: 20px;
    background-image: url(../images/gif.jpg);
    @media screen and (min-width: 768px) {
      width: 704px;
      height: 476px;
      background-image: url(../images/gif@2.jpg);
    }
    @media screen and (min-width: 1280px) {
      width: 860px;
      height: 476px;
      background-image: url(../images/gif@3.jpg);
    }
  }
}
.step-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $black-base;
  gap: 20px;
  width: 335px;
  margin-bottom: 44px;
  &__item {
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 20px;
    padding: 20px;
    background-color: $white-base;
  }
  &__description {
    text-align: start;
    width: 145px;
    flex-shrink: 0;
  }
}
.fruit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  &__card {
    width: 335px;
    text-align: start;
    padding: 64px 20px 24px 20px;
    border-radius: 20px;
    &__name {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2; /* 116.667% */
      letter-spacing: -0.96px;
    }
    &__type {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3; /* 128.571% */
      letter-spacing: -0.28px;
    }
    &--strawberry {
      background-color: $sy-bg;
    }
    &--banana {
      background-color: $bn-bg;
    }
    &--watermelon {
      background-color: $wm-bg;
    }
    &--lime {
      background-color: $lm-bg;
    }
    &--apple {
      background-color: $ap-bg;
    }
    &--peach {
      background-color: $ph-bg;
    }
  }
}
