$black-base: rgba(0, 0, 0, 1);
$green-base: rgba(164, 203, 102, 1);
$red-base: rgba(174, 19, 50, 1);
$yellow-base: rgba(245, 206, 19, 1);
$white-base: rgba(255, 255, 255, 1);
$white-base-o04: rgba(255, 255, 255, 0.44);
$white-base-o00: rgba(255, 255, 255, 0);
$red-hover: rgba(174, 19, 50, 0.1);
$black-svg: rgba(20, 20, 20, 1);
$black-sh-o01: rgba(0, 0, 0, 0.1);
$sy-bg: rgba(248, 118, 107, 1);
$bn-bg: rgba(237, 210, 81, 1);
$wm-bg: rgba(157, 194, 98, 1);
$lm-bg: rgba(191, 214, 99, 1);
$ap-bg: rgba(233, 63, 41, 1);
$ph-bg: rgba(219, 79, 75, 1);
